vosk
sounddevice
pyttsx3
pyautogui
psutil
pywin32
comtypes
pycaw
rapidfuzz
keyboard
pillow
numpy
google-generativeai
playwright
beautifulsoup4
duckduckgo-search
mss
opencv-python
youtube-transcript-api
requests
pyperclip
pygetwindow
send2trash
win10toast
pywinauto
tqdm